html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
}

#welcome__screen {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;

	> h2 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}

#scraper__input {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	height: 2.5rem;
	border-radius: 5px;
	padding: 0 1rem;
	gap: 1rem;
	margin-bottom: 2rem;

	> input {
		width: 100%;
		height: 100%;
		border: 1px solid gray;
		border-radius: 5px;
		padding: 0 1rem;

		&:focus {
			border-color: #424242;
		}
	}

	> button {
		height: 100%;
		border: 1px solid gray;
		border-radius: 5px;
		padding: 0 1rem;
		background-color: #424242;
		color: white;
		cursor: pointer;

		&:hover {
			background-color: #333;
		}
	}

	@media (max-width: 600px) {
		flex-direction: column;
		max-width: 300px;
		margin-bottom: 3rem;

		> button {
			width: 100px;
		}
	}
}

#main__grid {
	display: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

	@media (max-width: 768px) {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		place-items: center;
	}
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2.7px 2.7px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2.7px 2.7px;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2.7px 2.7px;
	transition: all 0.3s ease;
	cursor: pointer;

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
		-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
		transform: scale(1.03);
	}

	@media (max-width: 600px) {
		width: 100%;
		max-width: 300px;
	}
}

.card img {
  width: 100%;
  height: 100%;
	max-height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 1rem 0;
  line-height: normal;
  max-width: 150ch;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  position: relative;
}

.card h3::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 1.2em;
  background: linear-gradient(to right, transparent, white 50%);
}

.card p {
	margin: 1rem 0;
	line-height: normal;
	max-width: 150ch;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	position: relative;
}

#toast {
	visibility: hidden;
	position: fixed;
	top: 1rem;
	right: 1rem;
	background-color: #424242;
	color: white;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2.7px 2.7px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2.7px 2.7px;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2.7px 2.7px;
	transition: all 0.3s ease;
	cursor: pointer;


	&:hover {
		box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
		-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
		transform: scale(1.03);
	}
}
